services:

  webhook:
    build:
      context: .
      target: webhook
    command: ["-hooks=/home/automations/hooks.json", "-verbose"]
    networks:
      - default
    volumes:
      # Mount one of the demo scripts
      - ./examples/hooks.json:/home/automations/hooks.json
      - ./examples/webhook.sh:/home/automations/scripts/webhook.sh
    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://localhost:9000/" ]
      interval: 5s
      timeout: 10s
      start_period: 10s
    restart: on-failure

  cron:
    build:
      context: .
      target: cron
    user: root # Daemon needs to run as a root. But your crontab will be run as user 'automations'
    networks:
      - default
    volumes:
      # Mount one of the demo scripts
      - ./examples/demo.sh:/home/automations/scripts/demo.sh
      # Mount the user 'automations' crontab from the repository
      - ./examples/crontab:/etc/crontabs/automations
      # Mount the logs directory
      - ./logs:/home/automations/logs
    restart: unless-stopped

  docker-socket-proxy:
    hostname: docker-socket-proxy
    image: docker.io/tecnativa/docker-socket-proxy:v0.4.1
    environment:
      CONTAINERS: 1
      VERSION: 1
    networks:
      - default
    volumes:
      # Mount the Docker socket
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped

networks:
  default:
    internal: true
