services:

  cron:
    build:
      context: .
      target: cron
    user: root # Daemon needs to run as a root. But your crontab will be run as user 'automations'
    networks:
      - default
    volumes:
      # Mount one of the demo scripts
      - ./examples/demo.sh:/home/automations/scripts/demo.sh
      # Mount the user 'automations' crontab from the repository
      - ./examples/crontab:/etc/crontabs/automations
      # Mount the cron log file
      - ./logs/cron.log:/home/automations/cron.log
    restart: unless-stopped

  docker-socket-proxy:
    hostname: docker-socket-proxy
    image: docker.io/tecnativa/docker-socket-proxy:v0.4.1
    environment:
      CONTAINERS: 1
      VERSION: 1
    networks:
      - default
    volumes:
      # Mount the Docker socket
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped

networks:
  default:
    internal: true
