name: Build and deploy

on:
  push:
    branches:
      - main
  # TODO: on tags

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04

    env:
      REGISTRY: ghcr.io
      REPO: ${{ github.repository }}
      VERSION: main # TODO: generate by git tags too

    permissions:
      contents: read  # Required to check out repository code
      packages: write # Required to push Docker images

    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push cron
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          target: cron
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ${{ env.REGISTRY }}/${{ env.REPO }}:cron-${{ env.VERSION }}
          platforms: |
            linux/amd64
            linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
