name: Build and deploy

on:
  push:
    branches:
      - main
    tags:
      - "v*"

jobs:
  build:
    name: Build (cron + webhook)
    runs-on: ubuntu-24.04

    env:
      REGISTRY: ghcr.io
      REPO: ${{ github.repository }}
      VERSION: ${{ github.ref_name }} # "main" or "v0.1.0"

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push all images
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          target: ${{ matrix.target }}
          build-args: |
            AWS_ENABLED=${{ matrix.aws }}

          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ${{ env.REGISTRY }}/${{ env.REPO }}:${{ matrix.tag }}-${{ env.VERSION }}

          platforms: |
            linux/amd64
            linux/arm64

          cache-from: type=gha
          cache-to: type=gha,mode=max

    strategy:
      fail-fast: false
      matrix:
        include:
          # --- webhook ---
          - target: webhook
            aws: "false"
            tag: "webhook"
          - target: webhook
            aws: "true"
            tag: "webhook-aws"

          # --- cron ---
          - target: cron
            aws: "false"
            tag: "cron"
          - target: cron
            aws: "true"
            tag: "cron-aws"
